.openning{
    background-color: #66ccff; 
    height: auto;
}
.face{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.all{
    display: flex; 
    justify-content: center; 
}
.name{
    font-size: 200%;
    font-weight: 800;
    margin-top: 3%;
}
.color{
    color:white; 
}
.infor1{
    margin-left: 2%;
}
.size{
    font-size: 120%;
    margin-left: 1%;
}
.rim{
    border-top: 5px solid black;
}
.fas{
    color: blue;
}
